*{
    margin: 1px;

}
body{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 10px;
    margin-left: 45px;
    margin-bottom: 10px;
    margin-right: 45px;
}
#curRency{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-right: 300px;
}
/* #reFferr{
    background-color: #D9D9D9;
} */
#calCulator{
    background-color: #000000;
    height: 450px;
    width: 450px;
    border-color: #000000;
}
#reSult{
    background-color: #000000;
    color: white;
    width: 97%;
    height: 70px;
    border-radius: 10px;
}
#display{
    font-size: 50px;
    background-color: black;
    text-align: end;
    border-radius: 10px;
}
#buTtons{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr  ;
    grid-gap: 1px;
    padding: 1px;
}
button{
    font-size: 17px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    padding: 0;
    background: none;
}
button:hover{
    background-color: black;
    color: white;
}
#red{
    background-color: red;
    width: 105px;
}
#marker{
    background-color: #ff9500;
    color: white;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}
#mark{
    background-color: #d4d4d2;
    font-size: 23px;
}
#blu{
    background-color: #505050;
    font-size: 23px;
}
button#blu dew.button{
    width: 50px;
    background-color: #505050;
    color: white;
}
#blu {
    background-color: #505050;
    font-size: 23px;
    color: white;
    font-weight: bold;
}
button#blu\ dew {
    color: white;
    background-color: #505050;
    width: 230px;
}
.high{
    border-radius: 50%;
}